body {
    margin: 0;
    font-family: "Microsoft JhengHei", sans-serif;
    background:
    linear-gradient(135deg, #2e2e2f, #565758);
    background-attachment: fixed;
}

.title{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    color: #23a5cd;

}
.user{
    position: absolute;
    left: 30%;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;

}
.user .dice{
    background: #ded4d4ff;
    width: 100px;
    height: 50px;
    margin: 15px;
    padding: 10px;
    border: 5px solid rgb(126, 119, 119);
    border-radius: 5px;
}
.user .diceText{
    text-align: center;
    justify-content: center;
    font-family:'Times New Roman', Times, serif;
    font-size: large;
    color: #e7ca10;
    padding: 10px;
    border-bottom: 3px solid #e7ca10;
    border-radius: 5px;
}
#point{
    position: absolute;
    right: 35%;
    top: 47%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    border: 5px solid #eae3e3;
    text-align: center;
    line-height: 50px;
    font-size:x-large;
    color: #eae3e3;
}