html, body{
    margin: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}
body{
    background: linear-gradient(135deg, #f0ecf0, #e38ee3);
}
svg{
    position: absolute;
    height: 100vh;
    width: 100vw;
    display: block;
    z-index: 10;
}
.backImg{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.5;
    z-index: 3;
}
.backLine{
    position: absolute;
    display: flex;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(1.05) scaleX(1.15);
    opacity: 0.3;
    z-index: 3;
}
.backR1{
    opacity: 0.4;
}
.backR2{
    opacity: 0.4;
}
.backR3{
    opacity: 0.4;
}
.backR4{
    opacity: 0.4;
}
.block{
    position: absolute;
    display: flex;
    opacity: 0.5;
    stroke: #cf23cb;
    stroke-width: 1;
    fill: url(#br1);
    filter: blur(2px);
    cursor: pointer;
}
.floatText {
    position: absolute;
    color: #2b1352;
    font-size: calc(2.5vw + 1.5vh);
    font-weight: bold;
    font-family: "ZenBold";
    letter-spacing: 20px;
    opacity: 0; /* 初始透明 */
    pointer-events: none; /* 不阻擋滑鼠 */
    z-index: 11;
    display: flex;
    align-items: center;
    justify-content: center;
}
.b1-text {
    top: 0.5vh;            /* 方框 y */
    left: 1vw;           /* 方框 x */
    width: 78vw;         /* 方框寬度 */
    height: 24vh;        /* 方框高度 */
}
.b2-text {
    top: 26vh;
    left: 21vw;
    width: 78vw;
    height: 23.5vh;
}
.b3-text {
    top: 51vh;
    left: 1vw;
    width: 78vw;
    height: 23.5vh;
}
.b4-text {
    top: 76vh;
    left: 21vw;
    width: 78vw;
    height: 24vh;
}