html, body{
    margin: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}
body{
    background: linear-gradient(135deg, #f0ecf0, #e38ee3);
}
svg{
    position: absolute;
    height: 100vh;
    width: 100vw;
    display: block;
    z-index: 10;
}
.backImg{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.5;
    z-index: 3;
}
.backLine{
    position: absolute;
    display: flex;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(1.05) scaleX(1.15);
    opacity: 0.3;
    z-index: 3;
}
.backR1{
    opacity: 0.4;
}
.backR2{
    opacity: 0.4;
}
.backR3{
    opacity: 0.4;
}
.backR4{
    opacity: 0.4;
}
.block{
    position: absolute;
    display: flex;
    opacity: 0.5;
    stroke: #cf23cb;
    stroke-width: 1;
    fill: url(#br1);
    filter: blur(2px);
    cursor: pointer;
}
.floatText {
    position: absolute;
    color: #13042b;
    font-size: calc(2.5vw + 1.5vh);
    font-weight: bold;
    font-family: "tekaki";
    letter-spacing: 20px;
    opacity: 0; /* 初始透明 */
    pointer-events: none; /* 不阻擋滑鼠 */
    z-index: 11;
    display: flex;
    align-items: center;
    justify-content: center;
}
.b1-text {
    top: 0.5vh;            /* 方框 y */
    left: 1vw;           /* 方框 x */
    width: 78vw;         /* 方框寬度 */
    height: 24vh;        /* 方框高度 */
}
.b2-text {
    top: 26vh;
    left: 21vw;
    width: 78vw;
    height: 23.5vh;
}
.b3-text {
    top: 51vh;
    left: 1vw;
    width: 78vw;
    height: 23.5vh;
}
.b4-text {
    top: 76vh;
    left: 21vw;
    width: 78vw;
    height: 24vh;
}

/*內容區*/

.info, .art{
    position: absolute;
    display: flex;
    align-items: center;
    left: 1vw;
    top: 1vh;
    width: 98vw;
    height: 98vh;
    font-size: calc(1.5vw + 1vh);
    font-family: "tekaki";
    background: linear-gradient(135deg,#bdb3c7,#4d4d5c);
    color: #14042b;
    border: 5px solid #5c0b5b;
    border-radius: 3vh;
    box-sizing: border-box;
    opacity: 0; /*0*/
    z-index: 0; /*0*/
}
.infoText{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 10%;
    width: 30%;
    height: 70%;
    line-height: 9vh;
    font-weight: bold;
    background: linear-gradient(135deg,#c1c1d0,#a632d4);
    box-sizing: border-box;
    border: 5px solid #56106b;
    border-radius: 10vh;
}
.infoTextBorder{
    position: absolute;
    left: 9%;
    width: 32%;
    height: 74%;
    box-sizing: border-box;
    border: 5px solid #180732;
    border-radius: 12vh;
}
.infoImg{
    position: absolute;
    right: 0;
    width: 50%;
    height: 100%;

}
.infoBack{
    position: absolute;
    justify-content: center;
    align-items: center;
    display: flex;
    right: 2%;
    top: 2%;
    width: 4vw;
    height: 4vw;
    font-size: 8vh;
    font-weight: bold;
    color: white;
    cursor: pointer;
    border: 2px solid #f0e7e7;
    border-radius: 50%;
    box-sizing: border-box;
    background: linear-gradient(135deg,#9d3faf,#2e0953);
}

/*art*/

.artImg{
    position: absolute;
    display: flex;
    box-sizing: border-box;
    border: 0.5vw solid #c5adda;
    border-radius: 5vw;
}
.artP1{
    top: 5%;
    left: 10%;
}
.artP2{
    top: 5%;
    right: 10%;
}
.artP3{
    bottom: 5%;
    left: 10%;
}
.artP4{
    bottom: 5%;
    right: 10%;
}

/*link*/

.link{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 1vw;
    top: 1vh;
    width: 98vw;
    height: 98vh;
    font-family: "tekaki";
    background: linear-gradient(135deg,#bdb3c7,#4d4d5c);
    border: 5px solid #5c0b5b;
    border-radius: 3vh;
    box-sizing: border-box;
    opacity: 0; /*0*/
    z-index: 0; /*0*/
}
.linkText{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: #14042b;
    width: 50%;
    left: 25%;
    height: 100%;
}
.linkText a{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none !important;
    color:#14042b !important;
}
.linkText span{
    padding-left: 1vw;
    font-size: calc(3vw + 1.5vh);
}

/*other*/

.other{
    position: absolute;
    display: flex;
    align-items: center;
    left: 1vw;
    top: 1vh;
    width: 98vw;
    height: 98vh;
    font-family: "tekaki";
    background: linear-gradient(135deg,#bdb3c7,#4d4d5c);
    color: #120f43;
    border: 5px solid #5c0b5b;
    border-radius: 3vh;
    box-sizing: border-box;
    opacity: 0; /*0*/
    z-index: 0; /*0*/
}
.other span{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: calc(5vw + 3.5vh);
    line-height: 30vh;
}
@font-face {
  font-family: 'tekaki';
  src: url('fonts/tekaki.woff2') format('truetype');
  font-weight: normal;
  font-style: normal;
}