html, body{
    height: 100%;
    margin: 0;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #811678;
}
.tips{
    position: fixed;
    right: 0;
    bottom: 0;
    font-size: 10px;
}

.bg{
    position: fixed;
    width: 100vw;;
    height: 100vh;
    background:linear-gradient(270deg,#c8a3cd,#bd68c1,#721a6a);
    opacity: 0;
    z-index: -1;
}

.bline1{
    position: fixed;
    height: 100vh;
    width: 10%;
    transform-origin: top;
    transform: scaleY(0);
    background: 
    linear-gradient(135deg, #080808,#424040);
    opacity: 0;
}

.ap{
    position: absolute;
    right: -20%;
    opacity: 0;
}
.bar:hover .ap{
    opacity: 0.7;
}
/*標籤列*/

.sidebar{
    position: fixed;
    display: flex;  
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    top: 0;
    bottom: 0;
    left: 0;
    width: 10%;
}
.bar
{
    position:relative;
    display: flex;
    justify-content: center;
    background:
    linear-gradient(135deg, #d83bcb,#d5a7d0);
    background-clip: text;
    color: transparent;
    outline: none;
    width: 100%;
    /*margin-top: 30px;*/
    font-size: 2.5vw;
    font-family: "enFont";
    opacity: 0;
}

/*內容*/
.content{
    position: relative;
    width: 100%;
    margin-left: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.page{
    display: none;
}
.page.Up{
    display: block;
}
#homeC{
    display: flex;
    position: relative;
    flex-direction: column;
    text-align: center;
    width: 100%;
}
.homeTitle{
    margin-top: 30%;
    text-align: center;
    font-size: 4vw;
    font-weight: bold;
    color: white;
    font-family: "ZenBold";
    opacity: 0;
}
.homePhoto{
    height: auto;
    width: 50%;
    max-width: 480px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    opacity: 0;
}
.homeText{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    padding: 0 10%;
    border: 5px solid;
    border-image: linear-gradient(135deg, #a585c2,#550987) 1;
    border-radius: 15px;
    background:linear-gradient(135deg, #7a15a8,#cc71ce);
    font-size: 150%;
    color: #fcd7d7;
    font-weight: bold;
    font-family: "ZenBold";
    opacity: 0;
}
@font-face {
  font-family: "enFont";
  src: url("./fonts/enFont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "ZenBold";
  src: url("./fonts/ZenBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}